<div class="show@md" <%= tag.attributes(controller_data) %>>
  <button type="button" class="btn" data-popover-target="trigger" popovertarget="<%= @popover_id %>" aria-haspopup="true">
    <%= @label %>
    <span class="icon icon--chevron-down" aria-hidden="true">
      <%= image_tag "icons/chevron-down.svg", size: 16, alt: "" %>
    </span>
  </button>
  <div popover id="<%= @popover_id %>" class="popover popover--mega" data-popover-target="content" role="menu" aria-label="<%= @label %> Menu">
    <div class="megamenu">
      <%= header if header? %>
      <%= links %>
      <%= footer if footer? %>
    </div>
  </div>
</div>

<details class="hide@md">
  <summary><%= @label %></summary>
  <div class="megamenu">
    <%= header if header? %>
    <%= mobile_content || links %>
  </div>
</details>
