<div class="megamenu-mobile-scroll">
  <a href="/modules/corporate" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/hotel.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Corporate</h3>
    <p class="megamenu-mobile-card__description">Manage companies, subsidiaries, offices, and people.</p>
  </a>

  <a href="/modules/business" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/briefcase-business.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Business</h3>
    <p class="megamenu-mobile-card__description">A set of defaults for managing solutions, products, and services.</p>
  </a>

  <a href="/modules/catalog" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/book-open-text.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Catalog</h3>
    <p class="megamenu-mobile-card__description">Build product pages on best practices for key features.</p>
  </a>

  <a href="/modules/web" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/globe.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Web</h3>
    <p class="megamenu-mobile-card__description">Managed multiple websites under multiple domains.</p>
  </a>

  <a href="/modules/collateral" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/book-image.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Collateral</h3>
    <p class="megamenu-mobile-card__description">types, protected, downloads, versioning.</p>
  </a>

  <a href="/modules/broadcast" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/radio-tower.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Broadcast</h3>
    <p class="megamenu-mobile-card__description">Anim auto id magna aliqua ad ad non deserunt sunt.</p>
  </a>

  <a href="/modules/store" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/shopping-cart.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Store</h3>
    <p class="megamenu-mobile-card__description">Anim auto id magna aliqua ad ad non deserunt sunt.</p>
  </a>

  <a href="/modules/media" class="megamenu-mobile-card">
    <span class="icon" aria-hidden="true">
      <%= image_tag "icons/image.svg", size: 24, alt: "" %>
    </span>
    <h3 class="megamenu-mobile-card__title">Media</h3>
    <p class="megamenu-mobile-card__description">Anim auto id magna aliqua ad ad non deserunt sunt.</p>
  </a>
</div>
