<div class="menu">
  <div class="menu__header">Menu</div>
  <hr class="menu__separator" role="separator" />
  <div class="menu__group" role="group">
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/hotel.svg", size: 16, alt: "" %>
      </span>
      <span>Corporate</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="/modules/corporate" aria-disabled="true">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/briefcase-business.svg", size: 16, alt: "" %>
      </span>
      <span>Business</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="/modules/corporate">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/book-open-text.svg", size: 16, alt: "" %>
      </span>
      <span>Catalog</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="/modules/corporate">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/globe.svg", size: 16, alt: "" %>
      </span>
      <span>Web</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="/modules/corporate">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/book-image.svg", size: 16, alt: "" %>
      </span>
      <span>Collateral</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="/modules/corporate">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/radio-tower.svg", size: 16, alt: "" %>
      </span>
      <span>Broadcast</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/shopping-cart.svg", size: 16, alt: "" %>
      </span>
      <span>Store</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/image.svg", size: 16, alt: "" %>
      </span>
      <span>Media</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/hotel.svg", size: 16, alt: "" %>
      </span>
      <span>Profile</span>
      <span class="menu__item-key">
        <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
      </span>
    </a>
  </div>
  <hr class="menu__separator" role="separator" />
  <div class="menu__group" role="group">
    <a class="btn menu__item" data-menu-target="item" role="menuitem" href="">
      <span class="icon icon--user" aria-hidden="true">
        <%= image_tag "icons/layout-dashboard.svg", size: 16, alt: "" %>
      </span>
      <span>View all modules</span>
      <span class="menu__item-key">
        <%= image_tag "icons/arrow-long-right.svg", size: 16, alt: "" %>
      </span>
    </a>
  </div>
</div>