<%
  wrapper_class = "flex flex-col"
  wrapper_class += " p-6 border border-main rounded-lg" if @border
  wrapper_style = "transition: background-color 0.2s ease;"
  wrapper_style += " text-decoration: none; color: var(--color-text);" if @href
%>

<% if @href %>
  <a href="<%= @href %>" class="<%= wrapper_class %>" style="<%= wrapper_style %>" onmouseover="this.style.backgroundColor='var(--color-border-light)'" onmouseout="this.style.backgroundColor='transparent'">
    <% if @icon %>
      <%= image_tag "icons/#{@icon}.svg", size: 32, alt: "", class: "mbe-2" %>
    <% end %>

    <h3 class="text-xl font-semibold m-0 mbe-2 text-primary"><%= @title %></h3>
    <p class="text-base text-primary m-0"><%= @description %></p>
  </a>
<% else %>
  <div class="<%= wrapper_class %>">
    <% if @icon %>
      <%= image_tag "icons/#{@icon}.svg", size: 32, alt: "", class: "mbe-2" %>
    <% end %>

    <h3 class="text-xl font-semibold m-0 mbe-2 text-primary"><%= @title %></h3>
    <p class="text-base text-primary m-0"><%= @description %></p>
  </div>
<% end %>
