<%= content %>
<div class="<%= tabs_class %>" data-controller="tabs">
  <div class="tabs__list" data-action="keydown.left->tabs#prev keydown.right->tabs#next" role="tablist">
    <% tabs.each_with_index do |tab, index| %>
      <button type="button"
              id="trigger_<%= index %>"
              class="btn tabs__button"
              data-tabs-target="button"
              data-action="tabs#select"
              role="tab"
              aria-controls="tab_<%= index %>">
        <%= tab[:label] %>
      </button>
    <% end %>
  </div>

  <% tabs.each_with_index do |tab, index| %>
    <div hidden
         id="tab_<%= index %>"
         data-tabs-target="tab"
         role="tabpanel"
         aria-labelledby="trigger_<%= index %>">
      Tab panel content for <%= tab[:label] %> goes here.
    </div>
  <% end %>
</div>
