<%
  menu_items = [
    { label: "Corporate", icon: "hotel" },
    { label: "Business", icon: "briefcase-business" },
    { label: "Catalog", icon: "book-open-text" },
    { label: "Web", icon: "globe" },
    { label: "Collateral", icon: "book-image" },
    { label: "Broadcast", icon: "radio-tower" },
    { label: "Store", icon: "shopping-cart" },
    { label: "Media", icon: "image" }
  ]
%>

<%= render Design::Navigation::Menu::DropdownComponent.new(trigger: trigger) do |menu| %>
  <%= menu.with_brand do %>
    <%= render Design::Navigation::Elements::BrandComponent.new(
      logo: "brandmark.svg",
      href: "/",
      size: 64,
      animate_on_hover: true
    ) %>
  <% end %>

  <% ["Solutions", "Modules", "Features", "Platform", "Services"].each do |nav_label| %>
    <%= menu.with_nav_item do %>
      <%= render Design::Navigation::Menu::Dropdown::ItemComponent.new(
        label: nav_label,
        popover_id: "#{nav_label.downcase}-popover",
        trigger_actions: trigger == :hover ? "mouseenter->popover#debouncedShow mouseleave->popover#debouncedHide" : nil
      ) do |dropdown| %>
        <%= dropdown.with_dropdown_content do %>
          <div class="menu">
            <div class="menu__group" role="group">
              <% menu_items.each do |item| %>
                <%= render Design::Navigation::Elements::MenuItemComponent.new(
                  label: item[:label],
                  href: "/modules/#{item[:label].downcase}",
                  icon: item[:icon],
                  show_chevron: true
                ) %>
              <% end %>
            </div>
            <hr class="menu__separator" role="separator" />
            <div class="menu__group" role="group">
              <%= render Design::Navigation::Elements::MenuItemComponent.new(
                label: "View all modules",
                href: "/modules",
                icon: "layout-dashboard",
                show_chevron: true,
                chevron_icon: "arrow-long-right"
              ) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= menu.with_desktop_action do %>
    <%= link_to "Sign In", "#", class: "btn btn--ghost btn--rounded show@md" %>
  <% end %>

  <%= menu.with_desktop_action do %>
    <%= link_to "Get Started", "#", class: "btn btn--primary btn--rounded" %>
  <% end %>

  <%= menu.with_mobile_action do %>
    <%= link_to "Contact Us", "#", class: "btn btn--outline" %>
  <% end %>

  <%= menu.with_mobile_action do %>
    <%= link_to "Sign In", "#", class: "btn btn--outline" %>
  <% end %>
<% end %>
