<%= render Design::Navigation::Menu::SimpleComponent.new do |menu| %>
  <%= menu.with_brand do %>
    <%= render Design::Navigation::Elements::BrandComponent.new(
      logo: "brandmark.svg",
      href: "/",
      size: 64,
      animate_on_hover: true
    ) %>
  <% end %>

<% @topnav_pages.each do |page| %>
<%= menu.with_nav_item do %>
<div class="show@md">
  <%= render Design::Navigation::Elements::NavItemComponent.new(
          label: page.name,
          href: page.href,
          active: @active_header == page.permalink
        ) %>
</div>
<div class="hide@md">
  <%= render Design::Navigation::Elements::MenuItemComponent.new(
          label: page.name,
          href: page.href,
          show_icon: false,
          show_chevron: true,
          active: @active_header == page.permalink
        ) %>
</div>
<% end %>
<% end %>

<%= menu.with_desktop_action do %>
<%= link_to "Sign In", "#", class: "btn btn--ghost btn--rounded show@md" %>
<% end %>

<%= menu.with_desktop_action do %>
<%= link_to "Get Started", "#", class: "btn btn--primary btn--rounded" %>
<% end %>

<%= menu.with_mobile_action do %>
<%= link_to "Contact Us", "#", class: "btn btn--outline" %>
<% end %>

<%= menu.with_mobile_action do %>
<%= link_to "Sign In", "#", class: "btn btn--outline" %>
<% end %>
<% end %>