<div class="header-menu">
  <div class="header-brand flex-item-no-shrink">
    <%= image_tag "brandmark.svg", size: 64, alt: "Foundational Logo" %>
    <%= link_to "/" do %>
    <% end %>
  </div>

  <nav class="show@md flex flex-1 justify-start pi-6">
    <div class="top_nav max-i-2xl flex flex-item-grow items-center justify-between font-semibold font-title tracking-wider">
      <%= link_to "Solutions", "#", class: "" %>
      <%= link_to "Modules", "#", class: " active" %>
      <%= link_to "Features", "#", class: "" %>
      <%= link_to "Platform", "#", class: "" %>
      <%= link_to "Services", "#", class: "" %>
    </div>
  </nav>

  <div class="header-actions flex items-center gap flex-item-no-shrink">
    <%= link_to "Sign In", "#", class: "btn btn--ghost btn--rounded show@md" %>
    <%= link_to "Get Started", "#", class: "btn btn--primary btn--rounded" %>
    <label for="mobile-menu-toggle" class="mobile-menu-toggle hide@md flex items-center justify-center">
      <%= image_tag "icons/menu.svg", size: 48, alt: "Menu" %>
    </label>
  </div>
</div>

<input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-checkbox" hidden>

<nav class="mobile-menu__content">
  <div class="menu">
    <div class="menu__group" role="group">
      <a class="btn menu__item" role="menuitem" href="#">
        <span>Solutions</span>
        <span class="menu__item-key">
          <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
        </span>
      </a>
      <a class="btn menu__item active" role="menuitem" href="#">
        <span>Modules</span>
        <span class="menu__item-key">
          <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
        </span>
      </a>
      <a class="btn menu__item" role="menuitem" href="#">
        <span>Features</span>
        <span class="menu__item-key">
          <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
        </span>
      </a>
      <a class="btn menu__item" role="menuitem" href="#">
        <span>Platform</span>
        <span class="menu__item-key">
          <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
        </span>
      </a>
      <a class="btn menu__item" role="menuitem" href="#">
        <span>Services</span>
        <span class="menu__item-key">
          <%= image_tag "icons/chevron-right.svg", size: 16, alt: "" %>
        </span>
      </a>
    </div>
  </div>

  <div class="mobile-menu__footer">
    <%= link_to "Contact Us", "#", class: "btn btn--outline" %>
    <%= link_to "Sign In", "#", class: "btn btn--outline" %>
  </div>
</nav>