<%= render Design::Navigation::Menu::DropdownComponent.new(trigger: :click) do |menu| %>
  <%= menu.with_brand do %>
    <%= render Design::Navigation::Elements::BrandComponent.new(
      logo: "brandmark.svg",
      href: "/",
      size: 64,
      animate_on_hover: true
    ) %>
  <% end %>

  <% @topnav_pages.each do |page| %>
    <%= menu.with_nav_item do %>
      <%= render Design::Navigation::Menu::Dropdown::ItemComponent.new(
        label: page.name,
        popover_id: "#{page.permalink}-popover",
        trigger_actions: nil,
        active: @active_header == page.permalink
      ) do |dropdown| %>
        <%= dropdown.with_dropdown_content do %>
          <div class="menu">
            <% if page.children.live.any? %>
              <div class="menu__group" role="group">
                <% page.children.live.each do |child| %>
                  <%= render Design::Navigation::Elements::MenuItemComponent.new(
                    label: child.name,
                    href: child.href,
                    icon: child.icon&.name,
                    show_icon: child.icon.present?,
                    show_chevron: true,
                    active: current_page&.id == child.id
                  ) %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>

        <%= dropdown.with_mobile_content do %>
          <% if page.children.live.any? %>
            <% page.children.live.each do |child| %>
              <%= render Design::Navigation::Elements::MenuItemComponent.new(
                label: child.name,
                href: child.href,
                icon: child.icon&.name,
                show_icon: child.icon.present?,
                show_chevron: true,
                active: current_page&.id == child.id
              ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= menu.with_desktop_action do %>
    <%= link_to "Sign In", "#", class: "btn btn--ghost btn--rounded show@md" %>
  <% end %>

  <%= menu.with_desktop_action do %>
    <%= link_to "Get Started", "#", class: "btn btn--primary btn--rounded" %>
  <% end %>

  <%= menu.with_mobile_action do %>
    <%= link_to "Contact Us", "#", class: "btn btn--outline" %>
  <% end %>

  <%= menu.with_mobile_action do %>
    <%= link_to "Sign In", "#", class: "btn btn--outline" %>
  <% end %>
<% end %>
