<div style="display: flex; flex-wrap: wrap; gap: var(--size-4); padding: var(--size-8); align-items: center;">
  <%= render Design::Element::ButtonComponent.new(label: "Primary", variant: :primary, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Inverted", variant: :inverted, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Secondary", variant: :secondary, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Outline", variant: :outline, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Ghost", variant: :ghost, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Link", variant: :link, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Alert", variant: :alert, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Warning", variant: :warning, href: "#") %>
  <%= render Design::Element::ButtonComponent.new(label: "Success", variant: :success, href: "#") %>
</div>
